.cardGrid {
    position: absolute;
    top: 60px;
    left: calc(10vw/2);
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90vw;
    height: calc(100vh - 70px);
    margin: auto;
}