.card-body {
  position: relative;
  text-align: center;
  color: white;
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  perspective: 500px;
}

.flipped {
  transform: rotateY(180deg);
  transition: 0.6s;
}

.card-front,
.card-back {
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

h1.content-front, h1.content-back {
    text-shadow: 1px 1px lightgray;
    font-size: 2em;
}
