:root {
  --bar-width: 40px;
  --bar-height: 4px;
  --bar-spacing: 8px;
}

.drawer {
  position: absolute;
  height: 100%;
  top: 50px;
  left: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background: black;
  padding: 0 3% 0 3%;
}

.drawer h1 {
  border-bottom: 2px solid;
}

.menuItem {
    border-bottom: 2px solid;
}

.visible {
  transform: translateX(0px);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu-wrapper {
  width: var(--bar-width);
	height: calc(var(--bar-height) + var(--bar-spacing) * 2);
	padding-top: calc(var(--bar-height) + var(--bar-spacing) * 2);
	cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: var(--bar-width);
	height: var(--bar-height);
}

.hamburger-menu {
	position: relative;
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: var(--bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: var(--bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
