.title {
    display: flex;
}

.settings {
    position: absolute;
    top: 60px;
    left: calc(10vw/2);
    display: inline-list-item;
    font-weight: bold;
    font-size: 2em;
    grid-template-columns: auto auto auto auto;
    width: 90vw;
    height: calc(100vh - 70px);
    margin: auto;
}